
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.encabezado {

    display: flex;
    justify-content: space-around;
    margin: 20px;
    list-style: none;
    font-size: 15px;
} 
.navbar{
  background-color: #c9c9c9;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}
.navbar-toggler {
font-size: 1.25rem;
border: none;
}
.navbar-toggler:focus, .btn-close:focus {
box-shadow: none;
outline: none;
}
.nav-link {
  color: #2f410b;
  font-weight: 500;
  position: relative;
}
.nav-link:hover, .nav-link.active {
  color: #035f00;
}
@media (min-width: 991px){

      .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #000000; /* color de las lineas*/
        visibility: hidden;
        transition: 0.3s ease-in-out;
      }
      .nav-link:hover:before, .nav-link.active::before {
      width: 100%;
      visibility: visible;
      }
}
body {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #92be33
}
.introduccion-definicion {
  margin: 20px;
}

.titulo {
  margin: 20px;
  padding: 20px;
}
h1{
    color: #4d641e;
}
h2{
    color: #2f410b;
}
h3{
    color: #2f410b;
}
h1{
    font-size: 35px;
}
h3{
    font-size: 23px;
}
h2{
    font-size: 23px;
}
p{
    font-size: 17px;
}
li{
    font-size: 17px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');


.nivel-emocional ul {
  list-style: none;
  padding: 0;
}
.nivel-emocional section {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
.navbar-brand img{ /*logo*/
  height: 4rem;
  width: auto;
}
.card-img-top {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  align-items: center;
  margin: 20px auto 0 auto;

}

.card-body {
  text-align: center;
}

.card {
  width: 50%;
  width: 250px;
  height: 260px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(37, 98, 2, 0.941);

}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(37, 98, 2, 0.941);
}

.card-group {
  display: flex;
  justify-content: space-evenly;
}

hr {
  border: 0;
  border-top: 1px solid black;
  margin: 10px 0;
}
footer{
  a{
    text-decoration:none;
    font-size:17px;
  }
  
  p{
  font-size: 17px;
  
  }
  a:hover {
    color: green !important;
  }
  
  i{
  font-size: 17px;
  
  }

}

